@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: green;
}
.carta {
  background-color: white;
  height: 520px;
  width: 350px;
  border-radius: 20px;
  margin: 40px auto;
}
.numero {
  font-size: 150px;
  margin: auto;
}
.pintatop {
  width: 30%;
}
.pintabot {
  display: block;
  width: 30%;
  margin-top: 300px;
  margin-left: auto;
  /* margin-top: 100px; */
}
